{% extends 'main.html' %} {% load static %} 

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>Appointment</title>
<link rel="stylesheet" href="{% static 'css/appointment.css' %}">
{% endblock meta %}

{% block header %}

{% endblock header %}

{% block content %}
{% firstof "APPOINTMENT" as nav_title %}
{% include 'navbar.html' %}
<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
  <br><br><br>
  <h1 class="text-white"><b>My Appointments</b></h1>
</div>
<div class="content mx-5 my-5">
  <div class="container-fluid">
    <div class="row">
      
      <h2 style="color:#ef2929">This week</h2>
      <hr style="height:2px; border-width:0; background-color:#ffffff; opacity:1;">
      <!-- This Week Section -->
      <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="thSection">
       <!-- List of appointments -->
       {% if appointments %}
       {% for item in appointments %}
       {% if item.author.username == user.username or user.username in item.getPeople %}
       {% if item.hasilKurang >= 0 and item.hasilKurang < 7 %}
       <div class="appo my-3" id="appo-{{item.id}}">
         <!-- Inside each appointment -->
         <div class="data" id="appoUpdate-{{item.id}}">
          <h4 class="sub itemTitle" id="{{item.title}}"><b>{{item.title}}</b></h4>
          <hr style="height:2px;opacity:1;color:white;">
          <h5 style="display:none" class="itemApo itemPeople" id="{{item.people}}">Attendees: {{item.people}}</h5>
          <h5 class="itemApo itemDate" id="{{item.date}}"><b>Date & Time:</b> {{ item.date }}</h5>
          <h5 style="display:none" class="itemApo itemLocationXD" id="{{item.location}}">Location: {{item.location}}</h5>
          <h5 style="display:none" class="itemApo itemCreator" id="{{item.author.username}}">Created by: {{item.author.username}}</h5>
          <h5 style="display:none" class="itemApo itemDescription" id="{{item.description}}">Description: {{item.description}}</h5>
          {% if item.link|length < 35 %}
          <h5 class="itemApo itemLink" id="{{item.link}}"><b>Link:</b> <a href="{{item.link}}" target="blank">{{item.link}}</a></h5>
          {% else %}
          <h5 class="itemApo itemLink" id="{{item.link}}"><b>Link:</b> <a href="{{item.link}}" target="blank">{{item.link|slice:":33"}}...</a></h5>
          {% endif %}

         </div>
         <p class="getOther-{{item.id}}" id="{{item.location}}%%%{{item.description}}"></p>
         <div class="triButton d-flex justify-content-evenly">
          <button type="button" class="btn button-main add btnToView" data-bs-toggle="modal" data-bs-target="#viewModal" id="view{{item.id}}">View</button>
          <button type="button" class="btn button-main edit btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
          <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Cancel</button>
        </div>
       </div>
       {% endif %}
       {% endif %}
       {% endfor %}
       {% endif %}
      </div>

      <h2 style="color:#edd400">Upcoming</h2>
      <hr style="height:2px; border-width:0; background-color:#ffffff; opacity:1;">  
      <!-- Upcoming Section -->
      <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="upSection">
        <!-- List of appointments -->
       {% if appointments %}
       {% for item in appointments %}
       {% if item.author.username == user.username and item.hasilKurang >= 7 %}
       <div class="appo my-3" id="appo-{{item.id}}">
         <!-- Inside each appointment -->
         <div class="data" id="appoUpdate-{{item.id}}">
          <h4 class="sub itemTitle" id="{{item.title}}"><b>{{item.title}}</b></h4>
          <hr style="height:2px;opacity:1;color:white;">
          <h5 style="display:none" class="itemApo itemPeople" id="{{item.people}}">Attendees: {{item.people}}</h5>
          <h5 class="itemApo itemDate" id="{{item.date}}"><b>Date & Time:</b> {{ item.date }}</h5>
          <h5 style="display:none" class="itemApo itemLocationXD" id="{{item.location}}">Location: {{item.location}}</h5>
          <h5 style="display:none" class="itemApo itemCreator" id="{{item.author.username}}">Created by: {{item.author.username}}</h5>
          <h5 style="display:none" class="itemApo itemDescription" id="{{item.description}}">Description: {{item.description}}</h5>
          {% if item.link|length < 35 %}
          <h5 class="itemApo itemLink" id="{{item.link}}"><b>Link:</b> <a href="{{item.link}}" target="blank">{{item.link}}</a></h5>
          {% else %}
          <h5 class="itemApo itemLink" id="{{item.link}}"><b>Link:</b> <a href="{{item.link}}" target="blank">{{item.link|slice:":33"}}...</a></h5>
          {% endif %}

         </div>
         <p class="getOther-{{item.id}}" id="{{item.location}}%%%{{item.description}}"></p>
         <div class="triButton d-flex justify-content-evenly">
          <button type="button" class="btn button-main add btnToView" data-bs-toggle="modal" data-bs-target="#viewModal" id="view{{item.id}}">View</button>
          <button type="button" class="btn button-main edit btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
          <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Cancel</button>
        </div>
       </div>
       {% endif %}
       {% endfor %}
       {% endif %}
      </div>

      <h2 style="color:#73d216">Done</h2>
      <hr style="height:2px; border-width:0; background-color:#ffffff; opacity:1;"> 
      <!-- Done Section -->
      <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="doSection">
        <!-- List of appointments -->
       {% if appointments %}
       {% for item in appointments %}
       {% if item.author.username == user.username and item.hasilKurang < 0 %}
       <div class="appo my-3" id="appo-{{item.id}}">
         <!-- Inside each appointment -->
         <div class="data" id="appoUpdate-{{item.id}}">
          <h4 class="sub itemTitle" id="{{item.title}}"><b>{{item.title}}</b></h4>
          <hr style="height:2px;opacity:1;color:white;">
          <h5 style="display:none" class="itemApo itemPeople" id="{{item.people}}">Attendees: {{item.people}}</h5>
          <h5 class="itemApo itemDate" id="{{item.date}}"><b>Date & Time:</b> {{ item.date }}</h5>
          <h5 style="display:none" class="itemApo itemLocationXD" id="{{item.location}}">Location: {{item.location}}</h5>
          <h5 style="display:none" class="itemApo itemCreator" id="{{item.author.username}}">Created by: {{item.author.username}}</h5>
          <h5 style="display:none" class="itemApo itemDescription" id="{{item.description}}">Description: {{item.description}}</h5>
          {% if item.link|length < 35 %}
          <h5 class="itemApo itemLink" id="{{item.link}}"><b>Link:</b> <a href="{{item.link}}" target="blank">{{item.link}}</a></h5>
          {% else %}
          <h5 class="itemApo itemLink" id="{{item.link}}"><b>Link:</b> <a href="{{item.link}}" target="blank">{{item.link|slice:":33"}}...</a></h5>
          {% endif %}

         </div>
         <p class="getOther-{{item.id}}" id="{{item.location}}%%%{{item.description}}"></p>
         <div class="triButton d-flex justify-content-evenly">
          <button type="button" class="btn button-main add btnToView" data-bs-toggle="modal" data-bs-target="#viewModal" id="view{{item.id}}">View</button>
          <button type="button" class="btn button-main edit btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
          <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Cancel</button>
        </div>
       </div>
       {% endif %}
       {% endfor %}
       {% endif %}
      </div>
      
    </div>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalTitle" area-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title title" id="createModalTitle">New Appointment</p>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="row modal-body align-items-center justify-content-center" id="isiForm">
        <!-- Appointment details -->
        <div class="col-xs">
          {% csrf_token %}
          <form id="addNew" method="get" action="">
            <h5>Title:</h5>
            <input class="form-control" type="text" name="title" placeholder="Title" required maxlength="30"><br>
            <h5>Attendees:</h5>
            <textarea class="form-control" type="text" name="people" placeholder="Fill with other's username with comma separated to share appointment" required></textarea><br>
            <h5>Date:</h5>
            <input class="form-control" type="datetime-local" name="date" required><br>
            <h5>Location (Optional):</h5>
            <input class="form-control" type="text" name="location" placeholder='Put "-" to leave it blank' required><br>
            <h5>Link (Optional):</h5>
            <input class="form-control" type="text" name="link" placeholder='Put "-" to leave it blank' required><br>
            <h5>Description:</h5>
            <textarea class="form-control" type="text" name="description" placeholder="Description" required></textarea><br>
            <div class="text-center" id="subBtn">
              <button type="submit" class="btn button-main add">Create</button>    
            </div>
          </form>      
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalTitle" area-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title title" id="viewModalTitle">Appointment Details</p>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row modal-body align-items-center justify-content-center">
        <!-- Appointment details -->
        <div class="col-auto">
          <table id="table-view" class="table table-borderless">
            
          </table>        
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalTitle" area-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title title" id="editModalTitle">Edit Appointment</p>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="row modal-body align-items-center justify-content-center" id="isiForm">
        <!-- Appointment details -->
        <div class="col-xs">
          {% csrf_token %}
          <form id="updateThis" method="get" action="">
            <h5>Title:</h5>
            <input id="Utitle" class="form-control" type="text" name="Utitle" placeholder="Title" required maxlength="30"><br>
            <h5>Attendees:</h5>
            <textarea id="Upeople" class="form-control" type="text" name="Upeople" placeholder="Fill with other's username with comma separated to share appointment" required></textarea><br>
            <h5>Date:</h5>
            <input id="Udate" class="form-control" type="datetime-local" name="Udate" required><br>
            <h5>Location:</h5>
            <input id="Ulocation" class="form-control" type="text" name="Ulocation" placeholder="Location" required><br>
            <h5>Link:</h5>
            <input id="Ulink" class="form-control" type="text" name="Ulink" placeholder="Link" required><br>
            <h5>Description:</h5>
            <textarea id="Udesc" class="form-control" type="text" name="Udess" placeholder="Description" required></textarea><br>
            <div class="text-center" id="subBtn">
              <button type="submit" class="btn button-main add gimmeId" id="none">Save</button>    
              <button class="btn button-main del" data-bs-dismiss="modal" aria-label="Close">Abort</button>
            </div>
          </form>      
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Botton -->
<div class="fixed-bottom">
  <button type="button" class="btn button-main button-bottom add" data-bs-toggle="modal" data-bs-target="#createModal">+</button>
</div>

<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/appointment.js' %}"></script>

{% endblock content %}
