{% extends 'main.html' %} {% load static %} 

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>Deadline</title>
<link rel="stylesheet" href="{% static 'css/deadline.css' %}">
{% endblock meta %}

{% block content %}
{% firstof "DEADLINE" as nav_title %}
{% include 'navbar.html' %}
<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
  <br><br><br>
  <h1 class="text-white">My Deadlines</h1>
</div>
<div class="content mx-5 my-5">
  <div class="container-fluid">
    <div class="row">
      <h2 style="color:#ef2929">Upcoming</h2>
      <!-- Upcoming Section -->
      <hr style="height:2px; border-width:0; background-color:#ffffff; opacity:1;">
      <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="upSection">
        {% if deadlines %} 
        {% for item in deadlines %}
        {% if item.author.username == user.username %}
        {% if item.hasilKurang >= 0 %} 
        <div class="deadl my-3" id="deadl-{{item.id}}">
          <div class="data" id="deadlUpdate-{{item.id}}">
            <h4 class="titleDeadl itemTitle" id="{{item.title}}"><b>{{item.title}}</b></h4>
            <hr style="height:2px;opacity:1;color:white;">
            <h5 class="itemDeadl itemDate" id="{{item.date}}"><b>Deadline:</b> {{ item.date }}</h5>
            <h5 class="itemDeadl itemDescription" id="{{item.description}}"><b>Description:</b> {{ item.description }}</h5>
          </div>
          <p class="getOther-{{item.id}}"></p>
          <div class="triButton d-flex justify-content-evenly">
           <button type="button" class="btn button-main edit btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
           <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
          </div>
        </div>
        {% endif %}  
        {% endif %}  
        {% endfor %}
        {% endif %}  
      </div>

      <h2 style="color:#73d216">Done</h2>
      <!-- Done Section -->
      <hr style="height:2px; border-width:0; background-color:#ffffff; opacity:1;"> 
      <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="doSection">
        {% if deadlines %} 
        {% for item in deadlines %}
        {% if item.author.username == user.username %}
        {% if item.hasilKurang < 0 %} 
        <div class="deadlDone my-3" id="deadl-{{item.id}}">
          <div class="data" id="deadlUpdate-{{item.id}}">
            <h4 class="titleDeadl itemTitle" id="{{item.title}}"><b>{{item.title}}</b></h4>
            <hr style="height:2px;opacity:1;color:white;">
            <h5 class="itemDeadl itemDate" id="{{item.date}}"><b>Deadline:</b> {{ item.date }}</h5>
            <h5 class="itemDeadl itemDescription" id="{{item.description}}"><b>Description:</b> {{ item.description }}</h5>
          </div>
          <p class="getOther-{{item.id}}"></p>
          <div class="triButton d-flex justify-content-evenly">
           <button type="button" class="btn button-main edit btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
           <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
          </div>
        </div>
        {% endif %}  
        {% endif %}  
        {% endfor %}
        {% endif %}  
      </div>
    
    </div>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalTitle" area-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title title" id="createModalTitle">New Deadline</p>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="row modal-body align-items-center justify-content-center" id="isiForm">
        <!-- Deadline details -->
        <div class="col-xs">
          {% csrf_token %}
          <form id="addNew" method="get" action="">
            <h5>Title:</h5>
            <input type="text" class="form-control" name="title" required placeholder="Title..." maxlength="21"><br>
            <h5>Date & Time:</h5>
            <input type="datetime-local" class="form-control" name="date" required><br>
            <h5>Description:</h5>
            <textarea type="text" class="form-control" name="description" required placeholder="Description..." maxlength="40"></textarea><br>
            <div class="text-center" id="subBtn">
              <button type="submit" class="btn button-main add">Create</button>    
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalTitle" area-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title title" id="editModalTitle">Edit Deadline</p>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="row modal-body align-items-center justify-content-center" id="isiForm">
        <!-- Deadline details -->
        <div class="col-xs">
          {% csrf_token %}
          <form id="updateThis" method="get" action="">
            <h5>Title:</h5>
            <input type="text" class="form-control" name="Utitle" id = "Utitle" placeholder="Title..." maxlength="21"><br>
            <h5>Date & Time:</h5>
            <input type="datetime-local" class="form-control" name="Udate" id="Udate" required><br>
            <h5>Description:</h5>
            <textarea type="text" class="form-control" name="Udescription" id = "Udescription" placeholder="Description..." maxlength="40"></textarea><br>
            <div class="text-center" id="subBtn">
              <button type="submit" class="btn button-main add gimmeId" id="none">Save</button>    
              <button class="btn button-main del" data-bs-dismiss="modal" aria-label="Close">Abort</button>
            </div> 
          </form>      
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Botton -->
<div class="fixed-bottom">
  <button type="button" class="btn button-main button-bottom add" data-bs-toggle="modal" data-bs-target="#createModal">+</button>
</div>

<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/deadline.js' %}"></script>

{% endblock content %}
