{% extends 'main.html' %} {% load static %} {% load ampm %}

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>Planner</title>
<link rel="stylesheet" href="{% static 'css/planner.css' %}">
{% endblock meta %}

{% block content %}
{% firstof "PLANNER" as nav_title %}
{% include 'navbar.html' %}
<div>
  <!-- Page Header -->
  <div class="subhead d-block clearfix mt-3" style="text-align:center">
    <br><br><br>
    <h1 class="text-white"><b>My Planner</b></h1>
    <br>
  </div>
  <div class="container-fluid">
    <!-- First row of planner, monday - thursday -->
    <div class="row">
      <div class="col-sm-3">
         <!-- Planner for Monday -->
        <h2 style="text-align:center;color:white;">Monday</h2>
        <hr class="line"></hr>
         <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="monSection">
          {% for item in plan0 %}
          <div class="plan infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white">
              {% comment %}<h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>{% endcomment %}
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-3">
         <!-- Planner for Tuesday -->
        <h2 style="text-align:center;color:white;">Tuesday</h2>
        <hr class="line"></hr>
         <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="tueSection">
          {% for item in plan1 %}
          <div class="infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white;">
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-3">
         <!-- Planner for Wednesday -->
        <h2 style="text-align:center;color:white;">Wednesday</h2>
        <hr class="line"></hr>
         <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="wedSection">
          {% for item in plan2 %}
          <div class="infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white;">
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-3">
         <!-- Planner for Thursday -->
        <h2 style="text-align:center;color:white;">Thursday</h2>
        <hr class="line"></hr>
         <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="thuSection">
          {% for item in plan3 %}
          <div class="infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white;">
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Second row of planner, friday - sunday -->
    <div class="row">
      <div class="col-sm-4">
         <!-- Planner for Friday -->
        <h2 style="text-align:center;color:white;">Friday</h2>
        <hr class="line"></hr>
         <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="friSection">
          {% for item in plan4 %}
          <div class="infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white;">
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Planner for Saturday -->
        <h2 style="text-align:center;color:white;">Saturday</h2>
        <hr class="line"></hr>
        <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="satSection">
          {% for item in plan5 %}
          <div class="infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white;">
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Planner for Saturday -->
        <h2 style="text-align:center;color:white;">Sunday</h2>
        <hr class="line"></hr>
        <!-- Plan info -->
        <div class="mb-5 d-flex p-2 justify-content-evenly flex-wrap" id="sunSection">
          {% for item in plan6 %}
          <div class="infobox my-3 mx-3" id="plan-{{item.id}}">
            <div class="data" style="padding-top:12px" id="planUpdate-{{item.id}}">
              <h4 class="sub itemName" id="{{item.name}}"><b>{{item.name}}</b></h4>
              <hr class="padLine" style="height:2px;opacity:1;color:white;">
              <h5 class="normal itemDate" id="{{item.start_time}}%%%{{item.end_time}}%%%{{item.day}}">{{ item.start_time|ampm }} - {{ item.end_time|ampm }}</h5>
            </div>
            <div class="triButton d-flex justify-content-evenly">
              <button type="button" class="btn button-main add btnToEdit" data-bs-toggle="modal" data-bs-target="#editModal" id="edit{{item.id}}">Edit</button>
              <button type="button" class="btn button-main del btnToDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" id="delete{{item.id}}">Delete</button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Create Modal -->
  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalTitle" area-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title title" id="createModalTitle">New Plan</p>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
        </div>
        <div class="row modal-body align-items-center justify-content-center" id="isiForm">
          <!-- Plan details -->
          <div class="col-xs">
            {% csrf_token %}
            <form id="addNew" method="get" action="">
              <h5>Name:</h5>
              <input class="form-control" type="text" name="name" placeholder="Name (20 Chars Max)" required maxlength="20"><br>
              <h5>Day:</h5>
              <select id="day" class="form-control" name="day" id="day">
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                  <option value="6">Sunday</option>
              </select>
              <br>
              <h5>Start Time:</h5>
              <input class="form-control" type="time" name="start_time" placeholder="Start Time" required><br>
              <h5>End Time:</h5>
              <input class="form-control" type="time" name="end_time" placeholder="End Time" required><br>
              <div class="text-center" id="subBtn">
                <button type="submit" class="btn button-main add">Create</button>    
              </div>
            </form>      
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalTitle" area-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title header" id="editModalTitle">Edit Plan</p>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
        </div>
        <div class="row modal-body align-items-center justify-content-center" id="isiForm">
          <!-- Plan details -->
          <div class="col-xs">
            {% csrf_token %}
            <form id="updateThis" method="get" action="">
              <h5>Name:</h5>
              <input id="Uname" class="form-control" type="text" name="Uname" placeholder="Name" required maxlength="30"><br>
              <h5>Day:</h5>
              <select id="Uday" class="form-control" name="Uday">
                  <option value="0">Monday</option>
                  <option value="1">Tuesday</option>
                  <option value="2">Wednesday</option>
                  <option value="3">Thursday</option>
                  <option value="4">Friday</option>
                  <option value="5">Saturday</option>
                  <option value="6">Sunday</option>
              </select>
              <br>
              <h5>Start Time:</h5> 
              <input id="Lstart" class="form-control" readonly></input><br>
              <input id="Ustart" class="form-control" type="time" name="Ustart" placeholder="Start Time" required></input><br>
              <h5>End Time:</h5>
              <input id="Lend" class="form-control" readonly></input><br>
              <input id="Uend" class="form-control" type="time" name="Uend" placeholder="End Time" required></input><br>
              <div class="text-center" id="subBtn">
                <button type="submit" class="btn button-main add gimmeId" id="none">Save</button>    
                <button class="btn button-main del" data-bs-dismiss="modal" aria-label="Close" id="rmTime">Abort</button>
              </div>
            </form>      
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Botton -->
  <div class="fixed-bottom">
    <button type="button" class="btn button-main button-bottom add" data-bs-toggle="modal" data-bs-target="#createModal">+</button>
  </div>

</div>

<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/planner.js' %}"></script>

{% endblock content %}
