{% extends 'main.html' %} {% load static %} 

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>Quick Note</title>
<link rel="stylesheet" href="{% static 'css/quicknote.css' %}">
{% endblock meta %}

{% block content %}
{% firstof "NOTE" as nav_title %}
{% include 'navbar.html' %}

<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
    <br><br><br>
    <h1 class="text-white"><b>My Quick Note</b></h1>
  </div>
<div class="container-fluid" id = "view">
    <div class="container">
        <p class ="box scrollable-y" id="note">{{quicknote.note|linebreaksbr}}</p>
    </div>
    <div class="fixed-bottom">
        <button id="editBtn" type="button" class="btn button-alt button-bottom add justify-content-center"></button>
    </div>
</div>
<div class="container-fluid" id="form">
    <form id="noteForm" action="" method="POST">
        {% csrf_token %}
        <div class="container">
            {% for field in form %}
                <div class="noteField box-edit">{{ field }}</div>
            {% endfor %}
        </div>
        <div class="fixed-bottom">
            <button id="saveBtn" type="submit" class="btn button-alt button-bottom edit" value="Save"></button>
        </div>
    </form>
</div>

<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/quicknote.js' %}"></script>
{% endblock content %}
