body {
    color: unset;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#729fcf;
    color:black;
    border-radius:10px;
    box-shadow: 0,0,10,0 white;
}

.appo{
    background-color: #217dbb;
    color: #ffffff;
    width: 420px !important;
    height: 220px !important;
    border-radius: 10px;
}


.itemApo{
    font-size: 1em;
}

.extra {
    width: 250px;
}

.data{
    padding: 20px;
    padding-bottom: 0px;
}

.triBtn{
    border:1px solid rgb(123, 86, 255);
}

#table-view{
    font-size:18px !important;
}

tr#viewtr{
    color: white !important;
    font-size:18px !important;
    line-height: 45px;
    min-height: 45px;
    height: 45px;
}

td#info{
    color: #d7d7d7 !important;
}

.modal-content{
    border-radius: 10px;
    background: #22252c;
    color: white;
}

.table{
    margin: 0px !important;
}

.table#tableCreate{
    color:white;
}

#isiForm{
    padding-left: 80px !important;
    padding-right: 80px !important;
    padding-top: 30px !important;
}

#subBtn{
    margin-top:10px;
    margin-bottom:20px;
}


#desc{
    border: 1px solid white;
}

td {
    padding: 10px;
}
