.deadl{
    background-color: #217dbb;
    color: #ffffff;
    width: 420px !important;
    height: 250px !important;
    border-radius: 10px;
}


.deadlDone{
    background-color: #217dbb;
    color: #ffffff;
    width: 420px !important;
    height: 250px !important;
    border-radius: 10px;
}

.extra {
    width: 250px;
}

.data{
    padding: 20px;
    padding-bottom: 0px;
}

.itemDeadl{
    font-size:1em;
}

#titleDeadl{
    font-size:1.25em;
    text-align: center;
}

.titleDeadl{
    font-size:1.25em;
    text-align: center;
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#729fcf;
    color:black;
    border-radius:10px;
    box-shadow: 0,0,10,0 white;
}

.note-desc{
    border-top: solid;
}


.container {    
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-content{
    border-radius: 10px;
    background: #22252c;
    color: white;
}

.triButton{
    margin-bottom: 20px;
}

#isiForm{
    padding-left: 80px !important;
    padding-right: 80px !important;
    padding-top: 30px !important;
}

#subBtn{
    margin-top:10px;
    margin-bottom:20px;
}
