@font-face {
    font-family: 'jbm';
    src: local('jbm'),
    url('../font/jbm.ttf') format("truetype");
}

body {
    background-color: #1b1d24;
    color: white;
    font-family: 'jbm';
    font-size: 1em;
}

a {
    color: #d7d7d7;
}

.header {
    font-size: 2em;
    text-align: center;
}

.title {
    font-size: 1.5em;
    text-align: center;
}

.sub {
    font-size: 1.25em;
    text-align: center;
}

.normal {
    font-size: 1em;
    text-align: center;
}

.logo {
    max-width: 40%;
    height: auto;
}

.hello {
    padding-bottom: 4px;
}

.note {
    color: #808080;
}

.line {
    height: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    background-color: #d7d7d7;
    opacity: 1;
}

.button-main {
    border: 0px solid #1b1d24;
    border-color: #1b1d24; 
    color: #ffffff;
    width: 100px;
    padding: 5px 12px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.button-alt {
    border: 0px solid #1b1d24;
    border-color: #1b1d24; 
    color: #ffffff;
    width: 100px;
    padding: 5px 12px 5px 5px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.add{
  color: white;
  background-color: #3465a4;
}

.add:hover {
  color: white;
  background-color: #3479ce;
}

.add:active {
  color: white;
  background-color: #345b8f;
}

.edit {
  color: white;
  background-color: #75507b;
}

.edit:hover {
  color: white;
  background-color: #ad7fa8;
}

.edit:active {
  color: white;
  background-color: #5a3a6a;
}

.del{
  color: white;
  background-color: #cc241d;
}

.del:hover {
  color: white;
  background-color: #ef2929;
}

.del:active {
  color: white;
  background-color: #aa0000;
}

.alert-main {
  background-color: #1b1d24;
  color: #ef2929;
}

.alert-alt {
  background-color: #1b1d24;
  color: #729fcf;
}

.fixed-bottom {
    padding-bottom: 2rem;
}

.button-bottom {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 20%;
    font-size: xx-large;
    float: right;
    margin-right: 2rem;
}

.bg-1{
    background-color: #14161b;
}

.bg-2{
    background-color: #1b1d24;
}

.bg-3 {
    background-color: #22252c;
}

.bg-4 {
    background-color: #292b32;
}

.bg-5 {
    background-color: #303238;
}

.fg-1 {
    color: #ffffff;
}

.fg-2 {
    color: #d7d7d7;
}

.fg-warn {
    /* Gruvbox's light red color */
    color: #fb4934;
}

/* Overriding navbar color */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-image:none !important;
            background-color: #d7d7d7;
}
.dropdown-menu > li > a:active, .dropdown-menu > li > a:focus {
            background-image:none !important;
            background-color: #808080;
            color: #000000
}

