.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#729fcf;
    color:black;
    border-radius:10px;
    box-shadow: 0,0,10,0 white;
}

.infobox {
    background-color: #217dbb;
    color: #ffffff;
    width: 270px !important;
    height: 160px !important;
    border-radius: 10px;
}

.modal-content{
    border-radius: 10px;
    background: #22252c;
    color: white;
}

.extra {
    width: 150px;
}

.padLine {
    margin-left: 20px;
    margin-right: 20px;
}
