.comment {
    color:#5c6370; 
    font-style: italic; 
}

.box {
    background-color: #292b32;
    border-radius: 4px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    min-height: 60vh; 
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto; 
}

.box-edit {
    background-color: #292b32;
    border-style: solid; 
    border-width: 2px; 
    border-radius: 4px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    overflow-x: hidden;
    overflow-y: hidden;
}

.scrollable-y {
    overflow-y: auto; 
}

.form-control{
    background-color:transparent !important;
    border: none !important;
    color: white !important;
    max-height: 70vh;
    overflow-y: auto; 
}

.form-control:focus{
    box-shadow: none;
}

#note {
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 14px;
}

#form {
    display: none;
}

#noteForm {
    min-height: 60vh; 
    max-height: 60vh;
}
