#todo-container {
    bottom: 2rem;
}

.card {
    background-color: #292b32;
    color: white;
    border-radius: 1rem;
    margin: 1.5rem;
}

.card-buttons {
    margin-left: 1.65rem;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    
}

.task-span {
    font-size: 1.25rem;
}

.description {
    font-size: 1rem;
    margin-left: 1.65rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}

#task, #description, #edit-task, #edit-description {
    border-radius: 0.3rem;
    border: solid black;
    border-width: 1px;
    width: 100%;
    padding: 0.3rem;
}

#description, #edit-description {
    height: 7rem;
}

#edit-description {
    margin-bottom: 0.8rem;
}

.small-text {
    font-size: 0.9rem;
    margin: 0 0 0.5rem 0;
}

.modal-content{
    border-radius: 10px;
    background: #22252c;
    color: white;
}

.submit-button {
    margin: 1rem 0 0.25rem 0;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.fixed-bottom {
    padding-bottom: 2rem;
}

#add-task-bottom {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 20%;
    font-size: xx-large;
    float: right;
    margin-right: 2rem;
}

.extra {
    width: 150px;
}

