<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}

        {% block bootstrap %}
        {% endblock bootstrap %}

        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>

        {% block meta %}
        {% endblock meta %}
    </head>
    <body>
        

        {% block content %}
        {% endblock content %}
    </body>
</html>
