<nav class="navbar navbar-expand-sm navbar-dark bg-3 fixed-top ">
  <div class="container-fluid">
      <a class="navbar-brand">{{ nav_title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planner">Planner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deadline">Deadline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appointment">Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/note">Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/user">User Info</a></li>
            <li><a class="dropdown-item fg-1" href="/logout">Logout</a></li>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
