{% extends 'main.html' %} {% load static %} 

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>About SIPLASH</title>
{% endblock meta %}

{% block content %}
{% firstof "ABOUT" as nav_title %}
{% include 'navbar.html' %}
<br><br><br>
<p align="center">
  <img class="logo" src="{% static 'assets/info.png' %}" alt="about" width="400" />
</p>
<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
  <br>
  <h1 class="text-white">About SIPLASH</h1>
</div>
<br>
<div class="container-md just">
    <article class="info">
    SIPLASH (<b>Si</b>mple <b>Pla</b>nner for <b>S</b>taying at <b>H</b>ome) is a minimal web planner
    designed without all kinds of bloat and distraction other web planners provide.
    It is aimed for people who are working or studying from home due to COVID-19 restriction
    (which is an overused theme to use for any kind of college assignment hence the "Staying at Home" part).
    Working and/or studying at home can be a hard task to perform due to many distraction everyone would ever encounter at their home.
    This web app is created in hope to reduce those distraction and help its target audience to have a better time management.
    Minimalism and privacy should be the priority depending on the skill of our devs.
    <br><br>
    SIPLASH is served as our college assignement for Platform-Based Programming class so expect bugs and minor inconveniences. 
   </article>
</div>
<br>
<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
  <br><br>
  <h1 class="text-white">License Agreement</h1>
</div>
<br>
<div class="container-md just">
    <article class="info">
    SIPLASH is licensed under GNU Affero General Public License version 3 or later.
    This means you can use, study, and/or modify the software as your liking under its term and condition as a free software (with "free" as in "freedom").
    However, when you redistribute this software, whether you modify it or host it over the network or both,
    you MUST provide a way for the public to access the source code of this software.
    <br><br>
    THIS SOFTWARE COMES AS IS WITHOUT ANY WARRANTY. THE DEVELOPERS DO NOT HOLD ANY LIABILITY IN CASE OF ANY MISHAPS DURING THE USAGE OF THIS SOFTWARE
    <br><br>
    You can look at the source code <a href="https://gitlab.com/fawzakin/pbp-tk">here</a>.
    </article>
</div>
<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
  <br><br>
  <h1 class="text-white">Privacy Policy</h1>
</div>
<br>
<div class="container-md just">
    <article class="info">
    The admins of this web instance can see the list of all user-created data from personal data (username and email)
    to any created plans, deadlines, appointments, todo lists, and notes.
    However, we, the developers, as the admins of this site, do NOT have any interest of seeing, using, or sharing your personal data to any third parties.
    <br><br>
    If you do not trust our words regarding our handling with your personal data, please do not use this web instance or host SIPLASH to your own server.
    <br><br>
    Currently, we do not implement any account deletion methods. Once you created an account, that account stays in the database forever.
    </article>
</div>
<div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
  <br><br>
  <h1 class="text-white">Developers</h1>
</div>
<br>
<div class="container-md">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 just">
        <article class="sub">
        Fawzan Fawzi Yusuf <br>
        Evan Aurelrius <br>
        Muhammad Hilmi Ihsan Mumtaaz <br>
        Razita Afrina Nuriyan <br>
        </article>
      </div>
      <div class="col-sm-6 just">
        <article class="sub">
        Virdian Harun Prayoga <br>
        Cynthia Mutiara <br>
        Mochammad Iqbal <br>
        </article>
      </div>
    </div>
  </div>
</div>
<br><br>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
{% endblock content %}
