{% extends 'main.html' %} {% load static %} 

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>SIPLASH Main Page</title>
{% endblock meta %}

{% block content %}
{% firstof "HOME" as nav_title %}
{% include 'navbar.html' %}
<br><br><br>
<p align="center">
  <img class="logo" src="{% static 'assets/logo.png' %}" alt="logo" width="400" />
</p>
<div class="title">
  <br>
  <h1>SIPLASH</h1>
  <article>Simple Planner for Staying at Home</article>
</div>
<div class="sub">
    <br>
       {% if messages %}
            {% for message in messages %}
                {% if message.tags == "warning" %}
                    <div class="alert alert-main" role="alert">
                        <p class="fg-warn"> {{ message }} </p>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="alert alert-alt" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
  {% if user.is_authenticated %}
  <article class="hello">Hello, {{ user.username }}</article>
  <button type="button" class="btn button-main del" onclick="location.href='/logout';">Log Out</button>
  {% else %}
  <button type="button" class="btn button-main add" onclick="location.href='/login';">Log In</button>
  <button type="button" class="btn button-main add" onclick="location.href='/signup';">Sign Up</button>
  {% endif %}
</div>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
{% endblock content %}
