{% extends 'main.html' %} {% load static %} 

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>User Info</title>
{% endblock meta %}

{% block content %}
{% firstof "USER" as nav_title %}
{% include 'navbar.html' %}
<br><br><br>
<p align="center">
  <img class="logo" src="{% static 'assets/user.png' %}" alt="user" width="400" />
</p>
<div class="sub mx-5 mt-3" style="text-align:center">
  <br>
  <h1> User Information </h1>
  <br>
  <h3 class="text-white">Username:</h3>
  <h4>{{ user.username }}</h4>
  <br>
  <h3 class="text-white">Email:</h3>
  <h4>{{ user.email }}</h4>
</div>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
{% endblock content %}
