{% extends 'main.html' %} {% load static %}

{% block bootstrap %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
    <title>Todo List</title>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/todo_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/todo_list.css' %}">
{% endblock meta %}

{% block content %}
{% firstof "TODO" as nav_title %}
{% include 'navbar.html' %}
    <div class="subhead d-block clearfix mx-5 mt-3" style="text-align:center">
        <br><br><br>
        <h1 class="text-white"><b>My Todo List</b></h1>
        <br>
    </div>
    <div id="todo-container">

    </div>
    <br>
    <br>
    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal-add"> 
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Task</h4>
              <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close" id="close-popup-add">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" role="form" id="#form">
                    {% csrf_token %}
                    <label for="task"><h5>Task:</h5></label><br>
                    <input type="text" id="task" name="task" maxlength="30"><br>
                    <div class="small-text">Task name must be unique.</div>
                    <label for="description"><h5>Description:</h5></label><br>
                    <textarea id="description" name="description" maxlength="150"></textarea><br>
                    <div class="center">
                    <input type="submit" name="button" class="btn button-main add submit-button" id="submit-button" value="Submit">
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal-edit"> 
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Task</h4>
            <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close" id="close-popup-edit">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
              <form action="" method="POST" role="form" id="#form-edit">
                  {% csrf_token %}
                  <label for="task"><h5>Task:</h5></label><br>
                  <input type="text" id="edit-task" name="task" maxlength="30"><br>
                  <div class="small-text">Task name must be unique.</div>
                  <label for="description"><h5>Description:</h5></label><br>
                  <textarea id="edit-description" name="description" maxlength="150"></textarea><br>
                  <div class="center">
                    <button type="button" class="btn button-main add" id="save-button">Save</button>
                    <button class="btn button-main del" data-bs-dismiss="modal" aria-label="Close" id="cancel-button">Cancel</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </div>
  <div class="fixed-bottom">
    <button type="button" class="btn button-main add extra" id="add-task-bottom" data-toggle="modal" data-target="#form-modal-add">+</button>
  </div>
{% endblock content %}
