{% extends 'main.html' %} {% load static %}

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock bootstrap %}

{% block meta %}
<title>Sign Up</title>
{% endblock meta %}

{% block content %}

{% if messages %}

	    {% for message in messages %}

		<!--Panel-->
		<div class="card border-danger mb-3">
		    <div class="card-header text-danger">
		        <p class="card-title">{{ message }}</p>
		    </div>
		</div>
		<!--/.Panel-->

	    {% endfor %}

{% endif %}

<div class="container">
    <div class="mt-5"></div>

    <div class="row pt-5">

        <div class="col-lg-4 mb-3 d-flex justify-content-center mx-auto">

            <div class="card bg-3" style="width: 28rem;">
                <div class="card-body d-flex flex-column">

                    <br>
                    <p class="h2 mb-4 header">Create an account</p>
                    <form class="sub bg-3" id="signup_form" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field }}
                            {% for error in field.errors %}
                              <p style="color: #ef2929">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <button type="submit" class="btn button-main add">{{ _("Sign Up") }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/signup.js' %}"></script>
{% endblock script %}

{% endblock content %}
